.game-window {
    background-image: url('../images/Juego-Peg-Solitaire/fondoPantallaJuego.png');
    --bg-zoom: 115%;
    background-size: var(--bg-zoom) var(--bg-zoom);
    background-position: center center;
    background-repeat: no-repeat;

    height: 448px;
    width: 800px;
    padding: 0 0 15px 0;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 15px;
    
    color: #d3d3d3;
    background: rgba(211, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    border-bottom: rgba(211, 211, 211, 0.5) solid 4px;
}

.info-panel h1 {
    margin: 0;
    font-size: 25px;
}

.timer, .moves {
    font-weight: bold;
    font-size: 18px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-restart {
    background: #667eea;
    color: white;
}

.btn-restart:hover {
    background: #5568d3;
    transform: translateY(-2px);
}

#gameCanvas {
    display: block;
    border: 3px solid #333;
    background: rgba(211, 211, 211, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    cursor: pointer;
}

.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.5);
    text-align: center;
    display: none;
}

.game-over.show {
    display: block;
}

.game-over h2 {
    color: #667eea;
    margin-top: 0;
}

.game-over p {
    font-size: 18px;
    color: #666;
}

.instructions {
    max-width: 550px;
    margin: 0 0 50px 0;
    padding: 15px;

    font-weight: bold;

    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: rgba(211, 211, 211, 0.5) solid 4px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions h1 {
    margin: 0;
    font-size: 30px;
    color: white;
}

.instructions p {
    color: white;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
}

.instructions button {
    padding: 16px 25px;
    margin: 8px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    background: white;
    color: #333 ;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.instructions button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.instructions button:active {
    transform: translateY(0);
}

.hidden {
    display: none !important;
}