.game-window {
    width: 800px;
    height: 448px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/* Jugador */
.flappy-player {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 46px;
    height: 40px;
    cursor: pointer;
    background: url("../images/Flappy Bird/Characters/tiny-fish/Idle.png") left center;
    background-position-x: -30px;
}

.natural-flap {
    animation: player-flap 0.65s steps(4) infinite;
}

.flap {
    animation: player-flap 0.26s steps(4) infinite;
}

.dead {
    left: 7%;
    top: 42%;
    width: 110px;
    height: 110px;
    background: url("../images/Flappy Bird/Characters/tiny-fish/Explode.png") left center;
    animation: player-die 1s steps(6) infinite;
}

.ground-dead {
    width: 110px;
    height: 110px;
    background: url("../images/Flappy Bird/Characters/tiny-fish/Dead.png") left center;
    animation: player-die-ground 1.3s steps(6) infinite;
}

.hit {
    background: url("../images/Flappy Bird/Characters/tiny-fish/Hurt.png") left center;
    animation: player-hit 0.2s steps(2) infinite;
}

@keyframes player-flap {
    0% {
        background-position-x: -30px;
    } 100% {
        background-position-x: 410px;
    }
}

@keyframes player-die {
    0% {
        background-position-x: 0px;
    } 100% {
        background-position-x: -660px;
    }
}

@keyframes player-hit {
    0% {
        background-position-x: -30px;
    } 100% {
        background-position-x: 190px;
    }
}

@keyframes player-die-ground {
    0% {
        background-position-x: -30px;
    } 100% {
        background-position-x: -630px;
    }
}


/* Fondo parallax */
.background-layer {
    position: absolute;
    width: 800px;
    height: 448px;
    background-size: cover;
}

/* Pausa animacion del fondo */
.game-window.paused .background-layer {
    animation-play-state: paused !important;
}

.paused {
    animation-play-state: paused !important;
}

.layer1 {
    animation: background-move 15s linear infinite;
    background-image: url("../images/Flappy Bird/Background/Oscuro/1.png");
}

.layer2 {
    animation: background-move 12s linear infinite;
    background-image: url("../images/Flappy Bird/Background/Oscuro/2.png");
}

.layer3 {
    animation: background-move 9s linear infinite;
    background-image: url("../images/Flappy Bird/Background/Oscuro/3.png");
}

.layer4 {
    animation: background-move 7.5s linear infinite;
    background-image: url("../images/Flappy Bird/Background/Oscuro/4.png");
}

.layer5 {
    animation: background-move 4s linear infinite;
    background-image: url("../images/Flappy Bird/Background/Oscuro/5.png");
}

@keyframes background-move {
    0% {
        background-position-x: 0px;
    } 100% {
        background-position-x: -800px;
    }
}


/* Monedas y corazones */
.interactive-icon {
    width: 40px;
    height: 40px;
}

.health-icon {
    background: url("../images/Flappy Bird/Interactive/360-heart.png") left center;
    animation: icon-move 0.6s steps(5) infinite;
}

.coin-icon {
    background: url("../images/Flappy Bird/Interactive/360-coin.png") left center;
    animation: icon-move 0.5s steps(5) infinite;
}

@keyframes icon-move {
    0% {
        background-position-x: 0px;
    } 100% {
        background-position-x: -200px;
    }
}

/* Tubos */
.pipe {
    position: absolute;
    width: 75px;
    height: 98px;
    top: -1px;
    background-size: cover;
    background-image: url("../images/Flappy Bird/Pipes/normal-pipe.png");
}

/* Contenedor de vidas y puntaje durante el juego */
.game-stats {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 48%;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.game-stats div {
    display: flex;
    align-items: center;
}

.game-stats h1 {
    text-align: center;
}


/* Menu */
.instructions {
    max-width: 410px;
    margin: 45px 90px 0 0;
    padding: 15px 10px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: rgba(211, 211, 211, 0.5) solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    color: white;
}

.instructions p {
    color: white;
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
}

.instructions button {
    padding: 16px 25px;
    margin: 8px 0 0 0;

    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;

    background: white;
    color: #333 ;
    border: none;
    border-radius: 30px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.instructions button:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 12px rgba(0,0,0,0.4);
}

.instructions button:active {
    transform: scale(1);
}

.sub-instruction {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}

.sub-instruction p {
    margin: 0 10px 0 0;
}

.game-over {
    margin: 128px 232px  0 0;
    padding: 15px 10px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: rgba(211, 211, 211, 0.5) solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over h2 {
    margin: 10px 15px;
    font-size: 30px;
    color: white;
}

.game-over button {
    font-size: 19px;
}

.game-over p {
    margin: 1px 0 10px 0;
}

.hidden {
    display: none !important;
}