.game-window {
    width: 800px;
    height: 448px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.background-layer {
    position: absolute;
    width: 800px;
    height: 448px;
    background-size: cover;
}

@keyframes background-move {
    0% {
        background-position-x: 0px;
    } 100% {
        background-position-x: -800px;
    }
}

@keyframes crab-move {
    0% {
        background-position-x: 0px;
    } 100% {
        background-position-x: -144px;
    }
}



.crab {
    z-index: 10;
    width: 48px;
    height: 32px;
    background: url("../images/Fish Fellas Assetpack/Sprites/Characters/Crabby/Crabby_damaged.png") left center;
    animation: crab-move 1s steps(3) infinite;
    /* 
    48 LARGO 
    32 ALTO
    (144 de largo el spritesheet) 
    */
}


.layer1 {
    animation: background-move 15s linear infinite;
    background-image: url("../images/Fish Fellas Assetpack/Sprites/Background/Background1.png");
}

.layer2 {
    animation: background-move 12s linear infinite;
    background-image: url("../images/Fish Fellas Assetpack/Sprites/Background/Background2.png");
}

.layer3 {
    animation: background-move 9s linear infinite;
    background-image: url("../images/Fish Fellas Assetpack/Sprites/Background/Background3.png");
}

.layer4 {
    animation: background-move 6s linear infinite;
    background-image: url("../images/Fish Fellas Assetpack/Sprites/Background/Background4.png");
}